.grid-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.container-layout {
  max-width: 90%;
  margin: 0 auto;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;

  h1 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.1rem;
  }
}

.main {
  margin-top: 4rem;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;

  p {
    font-size: 1.1rem;
  }
}
