<section>
  <div class="search-container">
    <h2>🔍 Procure pelo filme de sua preferência</h2>

    <form class="form">
      <span>🔍</span>
      <input
        type="search"
        placeholder="Buscando por..."
        (input)="searchMovie($event)"
      />
    </form>
  </div>

  <div *ngIf="movies; else noMovies">
    <app-movie-card class="card-grid"></app-movie-card>
  </div>

  <ng-template #noMovies>
    <div class="search-container__nomovies">
      <p>Não há filmes para serem exibidos 🤐</p>
    </div>
  </ng-template>
</section>
