<section class="modal-container" *ngIf="!hasError">
  <ng-container>
    <app-loader *ngIf="isLoading"></app-loader>
  </ng-container>

  <button class="close-modal" (click)="closeModal()">❌</button>
  <h2>{{ data.title }}</h2>

  <article class="movie-info">
    <div class="movie-info__poster">
      <img src="{{ movie.Poster }}" alt="{{ movie.Title }} poster" />
    </div>

    <div class="movie-details">
      <p class="movie-details__plot">{{ movie.Plot }}</p>

      <div class="other-infos">
        <p><strong>Director:</strong> {{ movie.Director }}</p>
        <p><strong>Writers:</strong> {{ movie.Writer }}</p>
        <p><strong>Actors:</strong> {{ movie.Actors }}</p>
        <p><strong>Country:</strong> {{ movie.Country }}</p>
        <p><strong>Language:</strong> {{ movie.Language }}</p>
        <p><strong>Runtime:</strong> {{ movie.Runtime }}</p>
        <p><strong>Genre:</strong> {{ movie.Genre }}</p>
        <p><strong>Released:</strong> {{ movie.Released }}</p>
        <p><strong>Awards:</strong> {{ movie.Awards }}</p>
        <p>
          <strong>IMDB Rating:</strong>
          {{ movie.imdbRating | starsRating }}
          <strong>{{ movie.imdbRating }} </strong>
        </p>
      </div>
    </div>
  </article>
</section>
